// Mixins in here

.flex(@direction, @justify, @align){
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.button(@color, @font-size, @font-color: @white){
    background-color: @color;
    font-size: @font-size;
    color: @font-color;
}

.link(){
    a:link {
        font-size: @linkFontSize;
        font-family: @linkFontFamily;
        text-decoration: @linkDecoration;
        color: @linkColor;            
        }
    a:visited {
        color: @linkColor;
    }
    a:hover{
        text-decoration: @linkHoverDecoration;
    }        
}