// Navigation Styles here



.menu {
    padding: 15px 0;
    height: 60px;

    @media @mobile {
        height: 100px;
    }
    
    nav {
        width: 100%;

        .flex(row, space-around, center);
        flex-wrap: wrap;
    }

    .menu-item {
        a:link {
            font-size: @linkFontSize;
            font-family: @linkFontFamily;
            text-decoration: @linkDecoration;
            color: @linkColor;            
        }
        a:visited {
            color: @linkColor;
        }
        a:hover{
            text-decoration: @linkHoverDecoration;
        }        
    }
    #title {        
        width: 45%;

        @media @mobile {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }        
    }

}
